*{
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
}
.bg-con{
    display: flex;
    flex-direction: column;
    width: 45rem;
    height: 15rem;
    text-align: center;

}
.p1{
    text-align: center;
    margin-top: 9rem;
    font-size:1.25rem ;
    margin-bottom: 1rem;
}
.con{
    padding: 1.5rem;
    font-size: 2.2rem ;
    width: 20rem;
}
.dash{
    font-size: 4rem;
}
.hd{
    font-size: 3rem;
    color: rgb(123, 184, 184);
    text-align: center;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: -90px;
}
input{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2.3rem;
    border: none;
    text-align: center;
}
.mCon{
    display: flex;
    justify-content: center;
    background: url("images/st2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    width: 30rem;
    
}
.im1{
    display: none;
    height: 15rem;
    width: 22rem;
    margin-left: 29.5rem;
    margin-top: 4rem;
        
}
.divv{
    display: flex;
    flex-direction: row;
    width: cover;
    height: cover;
    align-items: center;
    justify-content: center;
}
.btn{
    color:black ;
    background-color: aqua;
    padding: 0.8rem;
    border-radius: 1rem;
    font-size: 1.25rem;
}

.sm-con1{
    display: flex;
    flex-direction: row;
}
.sm-con2{
    display: flex;
    gap: 6rem;
    justify-content: center;

}

.hide{
    display: none;
    text-align: center;
    font-size: 3rem;
    color: goldenrod;
    text-shadow: 0.5rem 0.5rem 1.5rem rgb(200, 199, 199);
}


